.btn {
    border: 1px solid black;
    border-radius: .5rem;
    padding: 1rem 2rem;
    font-family: 'Roboto', serif;
    font-size: .8rem;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
    background: #fff;
    color: black;
    text-transform: uppercase;

    &:hover {
        background: black;
        color: white;
    }

    &2 {
        background: black;
        color: white;

        &:hover {
            background: white;
            color: black;

        }

    }

}