.message1{

    display: grid;
    grid-template-columns: 28px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    
    
    .userchats {
        grid-area: 1 / 1 / 2 / 2;
    }

    .texto {
        grid-area: 1 / 2 / 2 / 3;
        background: rgba(0, 0, 0, 0.03);
        border-radius: 1px;
        padding: 1rem;
    }
    &.me{
        grid-template-columns:1fr  28px ;
        .userchats {
            grid-area: 1 / 2 / 2 / 3;
        }
    
        .texto {
            grid-area: 1 / 1 / 2 / 2;
            
        }
    }
}